

.pagination {
  text-align: center !important;
  padding: 10px 0 !important;
  margin-bottom: 5% !important;

  .page-item {
    border-radius: 10px !important; 
    margin-right: 10px !important;

    &.active {
      color: #1D364D !important;
      font-weight: 600 !important;
      background-image: linear-gradient(to right, #F4E8F3, #F3EFF6, #EEE0F9) !important;
      border-radius: 10px;
    }
  }

  .page-link {
    color: #667085 !important;
    font-weight: 400 !important;
    border-radius: 5px !important;
    padding-inline: 15px !important;
  }

  .page-link.active,.active > .page-link {
    z-index: 3;
    color: #1D364D !important;
    font-weight: 600 !important;
    background-image: linear-gradient(to right, #F4E8F3, #F3EFF6, #EEE0F9) !important;
    border-color: #F3F3F3;
  }
}